name: Cargo Build and test

on:
  push:
  pull_request:

env: 
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Rust project - latest
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      - run: rustup update stable
      - run: cargo build --verbose
      - run: cargo test --verbose
  
